# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\M5\angular-training\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
